@import "./../../partials/fonts";
@import "./../../partials/palette";
@import "./../../partials/partial";
.Container {
    min-height: 70vh;
    margin-left: 50px;

    &__button {
        @extend %defaultButton;
    }
}
.HeaderLink {
    font-family: $primaryFont;
    text-decoration: none;
    &:active {
        color: $tertiary;
    }
    &:visited {
        color: $tertiary;
    }
    &:hover {
        color: $darkTertiary;
    }
    &:link {
        color: $tertiary;
    }
}
