@import "./../../partials/palette";
@import "./../../partials/fonts";
.Container {
    height: 60vh;
    text-align: center;
    &__image {
        & > img {
            width: 20vw;
            height: 30vh;
            border-radius: 50px;
            box-shadow: 5px 5px 10px 3px $darkTertiary;
            border: solid 2px $highlight;
        }
    }
}
