@import "./../../partials/palette";
.Container {
    min-height: 70vh;

    &__Carosel {
        &_button {
            background-color: transparent;
            border: none;
            &:hover {
                cursor: pointer;
            }
        }
        &_image {
            width: 400px;
            width: 400px;
            border-radius: 50px;
            border: 2px solid $darkTertiary;
        }
    }
}
