@import "./partials/_palette";
@import "./partials/fonts";
.App {
    min-height: 600px;
    min-width: 1000px;
    background-color: $primary;
    /* clears the 'X' from Internet Explorer */
    input[type="search"]::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    input[type="search"]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    /* clears the 'X' from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    &__Container {
        min-width: 1000px;
    }
}
p {
    font-family: $secondaryFont;
    font-weight: bold;
    font-size: 25px;
}
h1 {
    font-family: $primaryFont;
}
h2 {
    font-family: $primaryFont;
}
