@import "./../../partials/palette";
.Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary;
    border-top: 20px solid;
    border-image: linear-gradient($primary, $secondary) 150 round;
    height: 120px;

    box-shadow: 0 50vh 0 50vh $secondary;

    & > * {
        filter: invert(1, 0);
    }
}
